name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
<<<<<<< HEAD
  workflow_dispatch:
=======
>>>>>>> origin/main

permissions:
  contents: read
  pages: write
  id-token: write

<<<<<<< HEAD
concurrency:
  group: "pages"
  cancel-in-progress: true

=======
>>>>>>> origin/main
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
<<<<<<< HEAD

      - name: Setup Pages
        uses: actions/configure-pages@v4

=======

      - name: Setup Pages
        uses: actions/configure-pages@v4

>>>>>>> origin/main
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
<<<<<<< HEAD

=======

>>>>>>> origin/main
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
