name: Test README

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run README validation script
        run: ./.github/scripts/test_readme.sh
